/* Google Font */
@font-face {
  font-family: montserrat;
  src: url(../public/fonts/Montserrat-Regular.ttf)
}

* {
  font-family: montserrat;
  font-weight: 600;
}

/* Card CSS */

.this {
  font-family: montserrat;
  font-weight: 900;
}